/target/
/.run/
/.cargo_home/
/.fleet/
/.github/
.env
.vscode
.idea
.DS_Store
Dockerfile-prod
Dockerfile
Dockerfile-tests
docker-compose.yml
.gitlab-ci.yml
.rustfmt.toml
.gitignore
.env.example
README.md